<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myService" class="com.zss.kernel.aop.service.impl.MyServiceImpl"/>
    <bean id="myAdvisor" class="com.zss.kernel.aop.advisor.MyAdvisor"/>

    <bean id="myAop" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.zss.kernel.aop.service.MyService"/>

        <property name="interceptorNames">
            <list>
                <value>myAdvisor</value>
            </list>
        </property>

        <property name="target" ref="myService"/>
    </bean>

</beans>