<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cash" class="com.zss.kernel.aware.beanfactoryaware.CashPayServiceImpl"/>
    <bean id="card" class="com.zss.kernel.aware.beanfactoryaware.CardPayServiceImpl"/>

    <bean id="paymentServiceBean" class="com.zss.kernel.aware.beanfactoryaware.PaymentServiceImpl"/>

</beans>